.landing-card-section {
  background-color: #f3f5f8;
  display: flex;
  color: black;
  align-items: center;
  flex-direction: column;
  border-width: 1px;
  border-radius: 10px;
  margin: -40px 10% 0 10%;
}

.landing-card-section h1 {
  margin-top: 55px;
  margin-bottom: 0px;
  font-size: 18px;
  text-transform: uppercase;
}

.card-stack {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin: 12px 60px 16px 60px;
}
