<!DOCTYPE html>
<html>
<head>
<style>
th {
    padding-right: 20px; /* Or whatever amount of space you want */
}

#countdown-block {
    background-color: lightblue; /* Or any color you want */
    padding: 20px;
    display: inline-block
}
</style>
</head>
<body>

<h1>Astronomical event countdown</h1>

<div id="countdown-block">
    <h2>Countdown Timer</h2>

    <table>
        <tr>
            <th>Days </th>
            <th>Hours </th>
            <th>Minutes </th> 
            <th>Seconds </th>
        </tr>
        <tr>
            <td id="days">10</td>
            <td id="hours">15</td>
            <td id="minutes">37</td>
            <td id="seconds">25</td>
        </tr>
    </table>
</div>


</body>
</html>